<div class="bg-navbar"></div>
<div class="container loginForm">
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input required type="text" class="form-control" id="usernameInput" name="username">
        </div>
        <div>
            <label for="pwdInput" class="form-label">Password</label>
            <input required type="password" class="form-control" id="pwdInput" name="userPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>