{{#with data}}

<img src="{{primaryImageSmall}}" class="card-img-top" alt="{{title}}">

<p>{{title}}</p>
{{/with}}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/APIHandler.js"></script>