<div class="container">
    <form action='/profile' method="POST">
        <div class="mb-3">
            <label for="ProfInput" class="form-label">Profile image</label>
            <input type="file" class="form-control" id="ProfInput" name="profileImg">
        </div>
        <div class="mb-3">
            <label for="fullNameInput" class="form-label">Full name</label>
            <input type="text" class="form-control" id="fullNameInput" name="fullName">
        </div>
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input type="text" class="form-control" id="usernameInput" name="username">
        </div>
        <div class="mb-3">
            <label for="bioInput" class="form-label">Biography</label>
            <textarea type="text" class="form-control" id="bioInput" name="biography"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>