<div class="container">
    <form action='/profile/{{username}}/edit-info' method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="ProfInput" class="form-label">Profile image</label>
            <input type="file" class="form-control" id="ProfInput" name="imgUrl" value="{{profileImg}}">
        </div>
        <div class="mb-3">
            <label for="fullNameInput" class="form-label">Full name</label>
            <input type="text" class="form-control" id="fullNameInput" name="fullName" value="{{fullName}}">
        </div>
        <div class="mb-3">
            <label for="bioInput" class="form-label">Biography</label>
            <input type="text" class="form-control" id="bioInput" name="biography" value="{{biography}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>