<div class="bg-navbar"></div>

<div style="width: 100%; text-align: center;">
    <h1 style="padding: 6rem 0 0 0;">This profile does not exists!</h1>

    <img style="height: 450px; margin-bottom: 4.2rem;" src="../../images/404.jpeg" alt="User not found">
</div>