@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.displayFlex {
  display: flex;
}

.bg-navbar {
  background-color: #212529;
  height: 5rem;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/* LOGIN AND REGISTER */
.loginForm {
  padding-top: 8rem;
  height: 87.4vh;
}

.loginForm h1 {
  margin-bottom: 4rem;
}

.loginForm>form>button {
  margin-top: 2rem;
}

/* NAVBAR */

.navbar {
  padding-top: 0;
  padding-bottom: 1rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-size: 1.3em;
}

.navBtn {
  font-size: 1.2em;
  margin-right: 1.5rem;
}

.navbar-brand {
  font-size: 2.5em !important;
  padding-bottom: 0.5rem;
  font-family: 'El Messiri', sans-serif;
}

.navbarRight {
  display: flex;
}

/* CARROUSEL PAGE */
.carrouselBody {
  background-color: #232628;
}

.carrimg {
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

/* INDEX PAGE */
.index-container {
  margin: 0 auto;
  padding-top: 8rem;
}

.card {
  margin: 1rem 1rem;
  border-radius: 10px;
}

.card img {
  height: 350px;
  width: 288px;
  margin-left: -1px;
  margin-top: -1px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 0 0;
}

.btnArtInfo {
  text-decoration: none;
  color: #0dcaf0;
  padding: 0.6rem 1rem;
  border: 1px solid #0dcaf0;
  border-radius: 5px;
  transition: .2s ease-in-out;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


.btnArtInfo:hover {
  color: #737373;
  background-color: #84e7fa;
}

.card-body {
  margin-bottom: 4rem;
  color: white;
}

.indexBg {
  background-color: #9b9b9b;
}

.bg-card-color {
  background-color: #737373;
}

.prevNext {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  padding-right: 1.8rem;
}

.prevNext button {
  background-color: #212529;
  color: white;
  padding: 0.6rem 1rem;
  margin-left: 1.8rem;
  font-size: 1.3em;
  width: 6.5rem;
  border: 1px solid #212529;
  border-radius: 5px;
  transition: .2s ease-in;
}

.prevNext button:hover {
  background-color: #737373;
  color: white;
  border-color: #737373;
}

/* EXPO PAGE */
.artworkExpoBody {
  background-color: #9b9b9b;
}

.artExpoHead {
  padding-top: 6rem;
  text-align: center;
}

.artExpoHead h1 {
  margin: 0;
}

.artExpoHead a {
  text-decoration: none;
  color: #e6e6e6;
  transition: .1s ease-in;
}

.artExpoHead a:hover {
  color: #84e7fa;
}

.sideText {
  padding: 0 3rem;
}

.sideText h2 {
  margin-top: 6rem;
}

.sideText h4 {
  color: #727272;
  margin-bottom: 4rem;
}

.sideText p {
  font-weight: 300;
  color: white;
  margin: 0;
}

.sideText span {
  font-size: 1.2em;
  font-weight: 500;
  color: black;
}

.floatRight {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 3rem 0;
}

.floatRight>div {
  text-align: right;
}

.floatLeft {
  display: flex;
  width: 100%;
  margin: 3rem 0;
}

.hrExpo {
  width: 50%;
  margin: 0 auto;
  border-top: 5px solid black;
}

.expoImg0 {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.expoImg {
  height: 500px;
  width: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

#myMap {
  height: 600px;
  width: 800px;
}

#artExpoInfo {
  display: flex;
}

.artExpoInfoText {
  padding: 3rem;
}

.artExpoInfoText p {
  color: white;
  font-weight: 300;
  font-size: 1.1em;
}

.artExpoInfoText p span {
  color: black;
  font-weight: 500;
  font-size: 1.3em;
}

/* ARTWORK INFO */
.infoImg {
  height: 550px;
}

.artwork-info {
  padding-top: 6rem;
  margin-bottom: 4rem;
}

.artworkDesc {
  display: flex;
  margin-top: 3.5rem;
  margin-bottom: 8rem;
}

.side-text {
  padding-top: 4rem;
  margin-left: 4rem;
}

.side-text button {
  margin-top: 5rem;
  text-decoration: none;
  color: #0dcaf0;
  background-color: transparent;
  padding: 0.6rem 1rem;
  border: 1px solid #0dcaf0;
  border-radius: 5px;
  transition: .2s ease-in-out;
}


.side-text button:hover {
  color: white;
  background-color: #84e7fa;
  border: 1px solid #0dcaf0;
}

.side-text h4 {
  color: gray;
}

.side-text ul>li {
  font-size: 1.2em;
}

.side-text ul>li>span {
  font-weight: 600;
  font-size: 1.2em;
}

.numberComments {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.3em;
  font-weight: 700;
}

.commentHead {
  display: flex;
  align-items: center;
}

.commentHead img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 1.6rem 1rem 10px;
}

.commentHead p {
  font-size: 1.3em;
}

.commentNameDate {
  margin-right: 2rem;
}

.commentNameDate a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 600;
  transition: .2s ease-out;
}

.commentNameDate a:hover {
  color: #727272;
}

.commentNameDate p {
  font-size: 15px;
  color: #999999;
  font-weight: 100;
}

.commentText {
  font-size: 1.4em;
  font-weight: 300;
}

.commentSection {
  margin: 5rem 0;
}

.leaveComment {
  margin: 1rem 0;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}

textarea {
  margin-top: 1rem;
  resize: none;
  width: 80%;
  height: 200px;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
}

.ratingComment {
  margin-top: 1rem;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  outline: 0;
}

.submitBtnArtInfo {
  margin-top: 2rem;
  text-decoration: none;
  color: #0dcaf0;
  background-color: transparent;
  padding: 0.6rem 1rem;
  border: 1px solid #0dcaf0;
  border-radius: 5px;
  transition: .2s ease-in-out;
}


.submitBtnArtInfo:hover {
  color: white;
  background-color: #84e7fa;
}

.artInfoPage {
  width: 30%;
  border: 2px solid black;
  margin: 0 auto;
}

/* PROFILE */

.primaryInfo {
  display: flex;
  align-items: center;
  min-width: 824px;
}

.profileHeader {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileHeader img {
  height: 200px;
  width: 200px;
  border-radius: 40px;
  object-fit: cover;
  margin-right: 1rem;
}

.personalInfo h1 {
  margin-top: 1.5rem;
}

.personalInfo p {
  margin: 0;
  color: #999999;
  font-weight: 300;
}

.editProfileBtn {
  margin-left: 8rem;
}

.favoriteArts {
  margin-top: 6rem;
}

.deleteFavBtn {
  color: white;
  width: 7rem;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  position: absolute;
  left: 10px;
  bottom: 10px;
  transition: .2s ease-in-out;
}

.deleteFavBtn:hover {
  background-color: #e16470;
}

.editProfileForm {
  padding: 11.6rem 0;
}

/* FOOTER */
.pie {
  background-color: #232628;
  text-align: center;
  color: #9d9d9d;
  font-weight: 200;
}

.pie nav {
  margin: 0 0 1rem 0;
  padding-top: 15px;
}

.pie nav a {
  text-decoration: none;
  color: #9d9d9d;
  transition: .3s ease-in-out;
  margin-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #9d9d9d;
}

.pie nav a:hover {
  color: #e3e2e2;
}

.pie nav a:last-child {
  border: none;
  padding-right: 0;
}

.pieP {
  margin: 0;
  padding-bottom: 16px;
}

.footer-items {
  color: white;
  background-color: #2d2d2d;
  height: 88vh;
}

.footer-items section {
  padding-top: 10rem;
}

.footer-items section:first-child {
  padding-left: 6rem;
  padding-top: 13rem;
  display: flex;
  flex-direction: column;
}

.footSectLink {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  margin-bottom: 0.5rem;
  transition: .3s ease-in-out;
}

.footSectLink:hover {
  color: #a2a2a2;
}

.sectMarg {
  margin-bottom: 4rem;
}

.sectMarg1 {
  margin-bottom: 6.8rem;
}

.row {
  --bs-gutter-x: 0 !important;
}