/* body {} */

.displayFlex {
  display: flex;
}

.bg-navbar {
  background-color: #212529;
  height: 5rem;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/* NAVBAR */

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-size: 1.3em;
}

.navBtn {
  font-size: 1.2em;
}

.navbar-brand {
  font-size: 1.7rem !important;
  padding-bottom: 0.5rem;
}

.navbarRight {
  display: flex;
}

/* CARROUSEL PAGE */
.carrouselBody {
  background-color: #232628;
}

.carrimg {
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

/* INDEX PAGE */
.index-container {
  margin: 0 auto;
  padding-top: 8rem;
}

.card {
  margin: 1rem 1rem;
  border-radius: 10px;
}

.card img {
  height: 350px;
  width: 288px;
  margin-left: -13px;
  margin-top: -1px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 0 0;
}

.btnArtInfo {
  text-decoration: none;
  color: #0dcaf0;
  padding: 0.6rem 1rem;
  border: 1px solid #0dcaf0;
  border-radius: 5px;
  transition: .2s ease-in-out;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


.btnArtInfo:hover {
  color: #737373;
  background-color: #84e7fa;
}

.card-body {
  margin-bottom: 4rem;
  color: white;
}

.indexBg {
  background-color: #9b9b9b;
  overflow-x: hidden;
}

.bg-card-color {
  background-color: #737373;
}

.prevNext {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  padding-right: 1.8rem;
}

.prevNext button {
  background-color: #212529;
  color: white;
  padding: 0.6rem 1rem;
  margin-left: 1.8rem;
  font-size: 1.3em;
  width: 6.5rem;
  border: 1px solid #212529;
  border-radius: 5px;
  transition: .2s ease-in;
}

.prevNext button:hover {
  background-color: #737373;
  color: white;
  border-color: #737373;
}

/* EVENT PAGE MAP */
.expoImg0 {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.expoImg {
  height: 500px;
  width: 400px;
  object-fit: cover;
  object-position: center;
}

.floatRight {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.floatLeft {
  display: flex;
}

#myMap {
  height: 450px;
}

/* ARTWORK INFO */
.infoImg {
  height: 550px;
}

.artwork-info {
  padding-top: 6rem;
}

.artworkDesc {
  display: flex;
}

.side-text {
  margin-left: 4rem;
}

.side-text button {
  margin-top: 5rem;
}

.side-text h4 {
  color: gray;
}