body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply; */
}

/* NAVBAR */

.navBtn {
  background: transparent;
  border: none;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar a,
.navBtn {
  font-size: 1.3em;
}

.navbar-brand {
  font-size: 1.7rem !important;
  padding-bottom: 0.5rem;
}

/* CARROUSEL PAGE */
.carrimg {
  height: 93.5vh;
  object-fit: contain;
  border-radius: 5px;
}

/* INDEX PAGE */
.index-container {
  margin: 0 auto;
}

.card {
  margin: 1rem 1rem;
}

.card img {
  height: 250px;
  object-fit: contain;
}

/* EVENT PAGE MAP */
.expoImg0 {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.expoImg {
  height: 500px;
  width: 400px;
  object-fit: cover;
  object-position: center;
}

.floatRight {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.floatLeft {
  display: flex;
}

#myMap {
  height: 450px;
}

/* ARTWORK INFO */
.infoImg {
  height: 250px;
}